<div class="contents row">
 <% @sugars.each do |product| %>

<div class="col s12 m6 l4">


<div class="card">
<div class="card-image">
<%= image_tag product.avatar, class: "avatar" %><br>
</div>
    <span class="card-title">　<%= product.name.truncate(10) %></span>

    <div class="card-content">
    <p>会社名： <%= product.company %></p>
    <p>商品説明： <%= product.detail.truncate(5) %></p>

    <p>原材料： <%= product.material.truncate(5) %></p>
    <p>保管方法： <%= product.preservation.truncate(5) %></p>
    <p>容量： <%= product.quantity %></p>
    <p>カテゴリー： <%= link_to product.category.name,category_path(product.category_id) %></p>
</div>


<div class="card-action center">
<%= link_to "詳細", product_path(product.id), method: :get %>


<% if user_signed_in? && current_user.id == product.user_id %>

<%= link_to '編集', edit_product_path(product.id), method: :get %>

<%= link_to "削除", product_path(product.id), method: :delete , data: { confirm: "本当に削除しますか？"} %>

<% end %>
</div>

</div>

</div>
  <% end %>
</div>
  <div class="center"><%= paginate(@sugars) %></div>
